<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>register</title>
    <link href="/css/styles.css" rel="stylesheet" />

</head>

<body>
    <%- include('header') %>

        <section class="py-5">
            <div class="container px-4 px-lg-5">
                <h2>Register Form....</h2>
            </div>
            <div class="container px-4 px-lg-5 mt-5">
                <div class="row gx-4 gx-lg-5 row-cols-1 justify-content-center">
                    <form action="/register" method="post">
                        <label for="email">Email :</label>
                        <input type="text" name="email" id="" placeholder="email" required class="form-control">
                        <label for="password">Password :</label>
                        <input type="password" name="password" id="" placeholder="password" required class="form-control">
                        <label for="name">Name :</label>
                        <input type="text" name="name" id="" placeholder="name" required class="form-control">
                        <label for="telephone">phone :</label>
                        <input type="text" name="telephone" id="" placeholder="telephone" required class="form-control">

                        <input type="submit" name="submit" id="" value="Register" class="form-control btn btn-outline-dark">
                    </form>
                </div>
            </div>
        </section>

        <%- include('footer') %>
</body>


</html>